footer {
    display: flex;
    justify-content: center;
    padding: 1rem 0.5rem;
    background-color: rgba(17, 17, 17, 0.5);
    color: #fff;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

footer p {
    padding-left: 32px;
    padding-right: 32px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 48px;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

footer small {
    opacity: 0.95;
}

